<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>学生学籍管理系统</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" href="/img/favicon.png">
	
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">

		<!-- Datatables CSS -->
		<link rel="stylesheet" href="/plugins/datatables/datatables.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
		
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="/img/logo.png" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fas fa-align-left"></i>
				</a>
				
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fas fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href=" " class="dropdown-toggle nav-link" data-toggle="dropdown">
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="user-text">
									<h6>{{session.get('Userno')}}</h6>
									<p class="text-muted mb-0">{{session.get('Username')}}</p>
									<p class="text-muted mb-0">{{session.get('Power')}}</p>
								</div>
							</div>
							{% if session.get("Power") == '高级管理员' %}
							<a class="dropdown-item" href="/admin/">我的信息</a>
								<a class="dropdown-item" href="/update_admin/">修改信息</a>
									<a class="dropdown-item" href="/add_admin/">添加管理员</a>
										<a class="dropdown-item" href="/logout/">退出登录</a>
											{% else %}
											<a class="dropdown-item" href="/admin/">我的信息</a>
												<a class="dropdown-item" href="/update_admin/">修改信息</a>
													<a class="dropdown-item" href="/logout/">退出登录</a>
														{% endif %}
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
			    <div class="sidebar-inner slimscroll">
				    <div id="sidebar-menu" class="sidebar-menu">
				    	<ul>
						<li >
							<span>主目录</span>
						</li>
						<li >
							<a href="/home/"><i class="fas fa-th-large"></i> <span>首页</span></a>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-user-graduate"></i> <span> 学生信息管理</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="/stu-list/">学生信息</a></li>
								<li><a href="/stu-sc-list/">学生选课及成绩</a></li>
								<li><a href="/add-stu/">添加学生信息</a></li>
<!--								<li><a href="/stu-sno/">编辑学生信息</a></li>-->
							</ul>
						</li>
                        <li class="submenu">
							<a href="#"><i class="fas fa-user-graduate"></i> <span> 课程管理</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="/course-list/">课程信息</a></li>
								<li><a href="/add-course/">添加课程</a></li>
                                <li><a href="/add-sno-cno/">课程添加学生</a></li>
							</ul>
						</li>
                        <li class="submenu">
							<a href="#"><i class="fas fa-user-graduate"></i> <span> 成绩管理</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="/add-grade-sc/">添加课程成绩</a></li>
							</ul>
						</li>
                        <li class="submenu">
							<a href="#"><i class="fas fa-user-graduate"></i> <span> 奖惩信息管理</span> <span
									class="menu-arrow"></span></a>
							<ul>
<!--								<li><a href="/stu-rp-list/">奖惩项目</a></li>-->
								<li><a href="/stu-rp-list/">学生奖惩信息</a></li>
								<li><a href="/add-rp-stu/">添加奖惩</a></li>
<!--								<li><a href="/edit-rp/">编辑奖惩信息</a></li>-->
							</ul>
						</li>
                        <li class="submenu active">
							<a href="#"><i class="fas fa-user-graduate"></i> <span> 班级管理</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="/classes-list/">班级信息</a></li>
								<li><a href="/add-classes/">添加班级信息</a></li>
                                <li><a href="/add-sno-classno/">向班级添加学生</a></li>
							</ul>
						</li>
                        <li class="submenu">
							<a href="#"><i class="fas fa-user-graduate"></i> <span> 专业管理</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="/major-list/">专业信息</a></li>
								<li><a href="/major-stu-list/">专业学生信息</a></li>
								<li><a href="/add-major/">添加专业信息</a></li>
							</ul>
						</li>
                         <li class="submenu">
							<a href="#"><i class="fas fa-user-graduate"></i> <span> 学院管理</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a href="/institute-list/">学院信息</a></li>
								<li><a href="/institute-stu-list/">学院学生信息</a></li>
								<li><a href="/add-institute/">添加学院信息</a></li>
							</ul>
						</li>
					</ul>
				    </div>
			    </div>
            </div>
			<!-- /Sidebar -->

			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">此班级的学生信息</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item">班级管理</a></li>
									<li class="breadcrumb-item active">此班级的学生信息</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-sm-12">

							<div class="card card-table">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0 datatable">
											<thead>
												<tr>
													<th>学号</th>
                                                    <th>姓名</th>
													<th>性别</th>
													<th>电话</th>
													<th>班级</th>
													<th>专业</th>
													<th>学院</th>
													<th>入学时间</th>
                                                    <th>出生日期</th>
                                                    <th>家庭住址</th>
                                                    <th>备注</th>
												</tr>

											</thead>
											<tbody>
												{% for stu,Majorname,Insname in result %}
												<tr>
													<td>{{ stu.Sno }}</td>
													<td>{{ stu.Sname }}</td>
													<td>{{ stu.Ssex }}</td>
													<td>{{ stu.Telephone }}</td>
													<td>{{ stu.Classno }}</td>
													<td>{{ Majorname }}</td>
													<td>{{ Insname}}</td>
                                                    <td>{{ stu.Sdate }}</td>
                                                    <td>{{ stu.Sbrith }}</td>
                                                    <td>{{ stu.Home }}</td>
                                                    <td>{{ stu.Snote }}</td>
													<td class="text-right">
														<div class="actions">
															<a href="/stu-sno/{{stu.Sno}}" class="btn btn-sm bg-success-light mr-2">
																<i class="fas fa-pen"></i>
															</a>
															<a href="/del-stu/{{stu.Sno}}" class="btn btn-sm bg-danger-light">
																<i class="fas fa-trash"></i>
															</a>
														</div>
													</td>
												</tr>
                                            {% endfor %}

											</tbody>
										</table>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>


			</div>
{#            #}
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="/js/jquery-3.5.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/js/popper.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Datatables JS -->
		<script src="/plugins/datatables/datatables.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/js/script.js"></script>
    </body>
</html>